/* خط بین فیلترها */
#changelist-filter > details {
    border-bottom: 1px solid #cccccc !important;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

/* آخرین فیلتر بدون خط */
#changelist-filter > details:last-of-type {
    border-bottom: none !important;
    margin-bottom: 0 !important;
}
