/* ردیف نمودارها */
.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-top: 10px;
}

/* هر باکس نمودار */
.charts-container fieldset.module {
  flex: 1 1 48%;
  min-width: 400px;
  max-width: 600px;
  box-sizing: border-box;
}
/* خود نمودارها (canvas) */
canvas {
  display: block;
  margin: auto;
  width: 100% !important;
  height: 250px !important;
  max-width: 500px;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* باکس داخلی برای هر نمودار */
.chart-wrapper {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden; /* جلوگیری از بیرون زدن خطوط */
}

.chart-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
  box-sizing: border-box;
}

.charts-container canvas {
  width: 100% !important;
  height: 300px !important;
  display: block;
  margin: auto;
}

@media (max-width: 900px) {
  .charts-container {
    flex-direction: column;
  }
  .charts-container fieldset.module {
    max-width: 100%;
  }
}