body {
  margin: 0;
  padding-top: 100px;
  font-size: 0.875rem;
  color: var(--body-fg);
  background: #e4e4e4;
  font-family: "Vazirmatn","IRANSans","Tahoma",sans-serif;
}
.container {
  min-width: 300px;
  margin: 0 auto;
  padding: 0 1rem;
  border: 1px solid var(--hairline-color);
  height: auto;
  overflow: hidden;
  width: 30em;
  background: var(--body-bg);
  position: relative;
  border-radius: 5px;
}
.form-row {
  overflow: hidden;
  padding: 4px 0;
  font-size: 0.8125rem;
  border-bottom: 1px solid var(--hairline-color);
}
.module {
  border: none;
  margin-bottom: 30px;
  background: var(--body-bg);
  }

.aligned label {
  display: contents;
  min-width: 160px;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right:10px;
  padding: 4px 0;
}
h3 {
  font-size: 0.875rem;
  margin: 10px;
  color: var(--body-medium-color);
  font-weight: bold;
padding-right:5px;
color:white;
  }

.aligned .form-row input {
  margin-left: 10px;
  margin-right:10px;
  width:90%;
}

.containerhead {
    background: #205067;
    padding-bottom: 10px;
    color: white;
}